@import "tailwindcss";
@import "tw-animate-css";

:root {
  /* --primary-color: #e11d48; */
  /* --primary-hover: #f43f67; */
  --primary-color: #827fc6;
  --primary-hover: #695fa3;
  --secondry-color: #111827;
  --secondry-hover: #253555;
  --montserrat: "Montserrat", sans-serif;
  --open-sans: "Open Sans", sans-serif;
}

@theme inline {
  --color-primary-color: var(--primary-color);
  --color-secondry-color: var(--secondry-color);
  --color-primary-hover: var(--primary-hover);
  --color-secondry-hover: var(--secondry-hover);
  --font-montserrat: var(--montserrat);
  --font-open-sans: var(--open-sans);
  --animate-marquee: marquee var(--duration) infinite linear;
  --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;
  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
  @keyframes marquee-vertical {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(calc(-100% - var(--gap)));
    }
  }
}

section {
  position: relative;
  width: 100%;
  padding: 70px 0;
}

@media (max-width: 1024px) {
  section {
    padding: 45px 0;
  }
}
@media (max-width: 768px) {
  section {
    padding: 30px 0;
  }
}

a,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--open-sans);
}
p,
span,
button,
li {
  font-family: var(--montserrat);
}

.labels {
  position: absolute;
  top: 50%;
  left: 8px;
  transform: translateY(-50%);
  font-size: 1rem;
  color: #6b7280;
  background: white;
  padding: 0 6px;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
}
.label {
  position: absolute;
  top: 14px;
  left: 8px;
  font-size: 1rem;
  color: #6b7280;
  background: white;
  padding: 0 6px;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
}

input:focus ~ .labels, input:not(:placeholder-shown) ~ .labels {
  top: -10px;
  left: 6px;
  font-size: 0.85rem;
  color: var(--primary-hover);
  transform: translateY(0);
}
textarea:focus ~ .label, textarea:not(:placeholder-shown) ~ .label {
  top: -10px;
  left: 6px;
  font-size: 0.85rem;
  color: var(--primary-hover);
  transform: translateY(0);
}
